$primary-color: #ffc87a;
$text-color: #1a2b5f;

html {
  font-size: 62.5%; //1rem = 10px
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: $text-color;
}

img {
  display: block;
  max-width: 100%;
}
a {
  color: $text-color;
}
@mixin flex($align: flex-start, $justify: flex-start, $wrap: none) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}
//1440px, 1170px;
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  padding: 0 2rem;
  margin: 0 auto;
}

.btn {
  appearance: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 1.8rem 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  background: none;
  box-shadow: 0.5px 0.5px 0.5rem rgba(0, 0, 0, 0.5);
  margin: 0 2rem;
  color: $text-color;
  transition: all .25s;
  &:hover{
    opacity: .8;
  }
}

.btn-primary {
  background: linear-gradient(to top, #ffcf82 0%, #fdea8b 100%);
  border: none;
  
}

.header {
  padding-top: 4rem;
  &_inner {
    @include flex(center, space-between);
  }
  &_menu {
    &-list {
      @include flex(center);
    }
    &-item {
      margin-left: 5rem;
      &:last-child {
        margin-left: 7rem;
      }
    }
    &-link {
      font-size: 1.6rem;
      transition: all 0.25s ease;
      &:hover {
        color: $primary-color;
      }
    }
  }
  &_login {
    padding: 1.4rem 2.8rem;
    border: 1px solid currentColor;
    border-radius: 3rem;
  }
}

.logo {
  font-size: 2.4rem;
  font-weight: 600;
  &_text {
    color: $primary-color;
  }
}

.banner {
  padding-top: 14rem;
  &_inner {
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;
  }
  &_title {
    font-size: 7rem;
    font-weight: bold;
    padding-bottom: 3.5rem;
  }
  &_descript {
    font-size: 2rem;
    padding-bottom: 3.5rem;
  }
  &_action{
    @include flex(center, center)
  }
}
