html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
  background-color: #fdfcf8;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #1a2b5f;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  padding: 0 2rem;
  margin: 0 auto;
}

.btn {
  appearance: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 1.8rem 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  background: none;
  box-shadow: 0.5px 0.5px 0.5rem rgba(0, 0, 0, 0.5);
  margin: 0 2rem;
  color: #1a2b5f;
  transition: all 0.25s;
  display: inline-block;
}
.btn:hover {
  color: #ffc87a;
}

.btn-primary {
  background: linear-gradient(to top, #ffcf82 0%, #fdea8b 100%);
  border: none;
  transition: all 0.25s;
}
.btn-primary:hover {
  color: #1a2b5f;
  background: linear-gradient(260deg, #ffcf82 0%, #fdea8b 100%);
}

.header {
  padding-top: 4rem;
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: none;
}
.header_menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: none;
}
.header_menu-item {
  margin-left: 5rem;
}
.header_menu-item:last-child {
  margin-left: 7rem;
}
.header_menu-link {
  font-size: 1.6rem;
  transition: all 0.25s ease;
}
.header_menu-link:hover {
  color: #ffc87a;
}
.header_login {
  padding: 1.4rem 2.8rem;
  border: 1px solid currentColor;
  border-radius: 3rem;
}

.logo {
  font-size: 2.4rem;
  font-weight: 600;
}
.logo_text {
  color: #ffc87a;
}

.banner {
  padding-top: 14rem;
}
.banner_inner {
  text-align: center;
  max-width: 75rem;
  margin: 0 auto;
}
.banner_title {
  font-size: 7rem;
  font-weight: bold;
  padding-bottom: 3.5rem;
}
.banner_descript {
  font-size: 2rem;
  padding-bottom: 3.5rem;
}

.middle {
  background: #fdfcf8;
  background: linear-gradient(184deg, #fdfcf8 0%, #fef6f7 100%);
}
.middle_inner {
  padding: 14rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.middle_box {
  padding: 2rem;
  border-radius: 10%;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
}
.middle_box-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
}
.middle_box-link {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: none;
}
.middle_box-link a {
  padding-right: 1rem;
}

.feature {
  padding-top: 4rem;
}
.feature_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: none;
  margin-bottom: 15rem;
}
.feature_item:nth-child(odd) .feature_info {
  padding-left: 10rem;
}
.feature_item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature_item:nth-child(even) .feature_info {
  padding-right: 10rem;
}
.feature_image, .feature_info {
  width: 50%;
}
.feature_title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.feature_descript {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 4rem;
  line-height: 1.8rem;
}
.feature_intro-list {
  margin-bottom: 3rem;
}
.feature_intro-item {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-decoration: underline;
}
.feature_intro-item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 5rem;
}
.feature_intro-item--circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f0f;
}
.feature_intro-item--circle:nth-child(2)::before {
  background-color: #8bea3c;
}
.feature_intro-item--circle:nth-child(3)::before {
  background-color: #42c0f4;
}
.feature_best-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature_best-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  font-size: 2rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #ff00d4;
  position: relative;
}
.feature_best-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: currentColor;
  position: absolute;
  opacity: 0.2;
  border-radius: 4px;
}
.feature_best-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 0;
}
.feature_best-item {
  width: calc(50% - 3rem);
  margin-bottom: 3rem;
}

.partner {
  text-align: center;
}
.partner_inner {
  max-width: 75rem;
}
.partner_title {
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 7rem;
  border-bottom: 2px solid;
}
.partner_list {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: none;
}

.contact {
  padding-top: 15rem;
}
.contact_title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}
.contact_with {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.contact_with-ground {
  color: #ffc87a;
}
.contact_list {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact_subcriber {
  margin-top: 15rem;
  border-bottom: 2px solid;
  padding-bottom: 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: none;
}
.contact_subcriber-descript {
  width: 50%;
  font-size: 3rem;
  font-weight: 600;
  padding-right: 3rem;
}
.contact_subcriber_form {
  width: 50%;
  border-radius: 4px;
}
.contact_subcriber_form-email {
  padding: 2rem 2rem;
  background-color: #f2f1f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: none;
}
.contact_subcriber_form-input {
  font-family: "Poppins";
  border: 0;
  outline: none;
  background: none;
  flex-grow: 1;
  padding-right: 1rem;
}
.contact_subcriber_form-button {
  border: 0;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.contact_subcriber_form-social {
  margin-top: 3rem;
}
.contact_subcriber_form-social i {
  font-size: 2rem;
  padding: 0 2rem;
}

.footer {
  padding: 5rem 0;
}
.footer_start {
  padding-bottom: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: none;
}
.footer_start-item {
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 0.5rem 0;
}
.footer_end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: none;
  padding-top: 2rem;
  font-size: 1.4rem;
  border-top: 1px solid #bbb;
}
.footer_end a {
  padding: 0 2rem 0 0;
}

.header_menu-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .middle_inner {
    padding: 8rem 2rem;
  }
  .middle_box {
    width: 43%;
    margin-top: 2rem;
  }
  .middle_box img {
    margin: 0 auto;
  }
  .middle_box-title {
    text-align: center;
  }
  .middle_box-link {
    justify-content: center;
  }

  .contact_item {
    margin-top: 2rem;
    width: 50%;
  }
  .contact_item img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .btn {
    padding: 1.5rem 2rem;
  }

  .header_menu {
    display: none;
  }
  .header_menu-mobile {
    display: block;
  }
  .header_menu-open {
    font-size: 2rem;
    cursor: pointer;
  }
  .header_menu-close {
    margin-top: 4rem;
    text-align: right;
    border-bottom: #CCC 1px dashed;
    padding: 0rem 1rem 1rem 0;
  }
  .header_menu-btn-close {
    font-size: 3rem;
    cursor: pointer;
  }
  .header_menu-main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FDFCF8;
    opacity: 0.9;
    width: 40%;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .header_menu-list {
    display: block;
  }
  .header_menu-item {
    font-size: 1.6rem;
    width: 60%;
    margin: 0 auto;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: none;
    transition: all 0.25s;
  }
  .header_menu-item:last-child {
    margin-left: auto;
  }
  .header_menu-item:hover {
    color: #ffc87a;
  }
  .header #open:checked ~ .header_menu-main {
    transform: translateX(0%);
  }
  .header #open:checked ~ .header_menu-open {
    display: none;
  }

  .banner {
    padding-top: 8rem;
  }
  .banner_title {
    font-size: 4rem;
  }
  .banner_descript {
    font-size: 1.8rem;
    padding-bottom: 2.5rem;
  }
  .banner_action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: none;
  }

  .middle_box {
    width: 100%;
  }

  .feature_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    text-align: center;
  }
  .feature_item:nth-child(odd) .feature_info {
    padding-left: 0rem;
    margin-top: 2rem;
  }
  .feature_item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .feature_item:nth-child(even) .feature_info {
    padding-right: 0rem;
  }
  .feature_image, .feature_info {
    width: 100%;
  }
  .feature_best-icon {
    margin: 0 auto;
  }

  .partner_item {
    padding: 1rem;
  }

  .contact {
    padding-top: 10rem;
  }
  .contact_subcriber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact_subcriber-descript {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .contact_subcriber_form {
    width: 100%;
  }
  .contact_subcriber_form-input {
    width: 50%;
  }
  .contact_subcriber_form-social {
    text-align: center;
  }

  .footer_start {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_start ul {
    margin-top: 2rem;
  }
  .footer_start a {
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
